.box {
  width: 500px;
  height: 500px;
  border: 5px solid black;
  margin: 20px auto;
  position: relative;
}
.item1, .item2 {
  width: 100px;
  height: 100px;
}
.item1 {
  background-color: #508aa8;
  position: absolute;
  z-index: 1;
}
.item2 {
  background-color: #6f1a07;
  position: absolute;
}